<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratings</title>
</head>
{% extends "layout.html" %}
{% block content %}

<body>
    <h1>Ratings</h1>
    <form action="" method="POST">
        <label for="ratings">Rating periods:</label>

        <select name="ratings" id="ratings">
            <option value="blank">select</option>
            {% for period in periods %}
            <option value={{period.period}}>{{period.period}}</option>
            {% endfor %}
        </select>
        <button type="submit">Go</button>
    </form>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Fide Id</th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Fed</th>
                    <th>Rating</th>
                    <th>Games</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row.fide_id }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.title }}</td>
                    <td>{{ row.fed }}</td>
                    <td>{{ row.rating }}</td>
                    <td>{{ row.games }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}

</html>